%h1 Make that call!
- if @phone.name
  %b Name
  %br=  @phone.name

= link_to "Call #{formatted_phone @phone.number}", "callto://#{@phone.number}", :id => "call-button"

%p
#notes
  %h2 Notes
  - if @phone.notes.size > 0
    - for note in @phone.notes
      %p
        = note.created_at
        = note.content
  - else
    You haven't added a note yet!

  %br
  = link_to "Add a note", "#"