%h1 Make that call!

= link_to "Call #{formatted_phone @phone.number}", "callto://#{@phone.number}", :id => "call-button"

%p
= form_for @phone do |f|
  = f.label :name
  %br
  = f.text_field :name
  = f.submit "Update name"

%p
  = render :partial => "notes/noteboard", :locals => { :phone => @phone }