%h1 Make that call!
- if @phone.name
  %b Name
  %br=  @phone.name

= link_to "Call #{formatted_phone @phone.number}", "callto://#{@phone.number}", :id => "call-button"

%p
  = render :partial => "notes/noteboard", :locals => { :phone => @phone }