#notes
  = render @phone.ordered_notes

  %br
  = form_for [phone, Note.new] do |f|
    %br
    = f.label :content
    %br
    = f.text_area :content, :autofocus => true
    %br
    = f.submit "Create note"