#notes
  %h2 Notes
  - if phone.notes.size > 0
    %ul
      - for note in phone.ordered_notes
        %li
          = note.content
          .creation_time= "#{distance_of_time_in_words_to_now(note.created_at)} ago"

  - else
    You haven't added a note yet!

  %br
  = form_for [phone, Note.new] do |f|
    %br
    = f.label :content
    %br
    = f.text_area :content, :autofocus => true
    %br
    = f.submit "Create note"