<!DOCTYPE html>
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{:name => "description", :content => "Phone call TODO list"}
    %meta{:name => "author", :content => "Simplificator"}
    %title CallQ
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print",  :media => "print"
    /[if IE]
      = stylesheet_link_tag "ie", :media => "screen, projection"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body.call-q
    #container
      %header
        %nav#user-navigation
          - if user_signed_in?
            = "Signed in as: #{current_user.email}"
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign in", new_user_session_path
            |
            = link_to "Sign up", new_user_registration_path
        %h1 Call-Q
      #content
        #notification
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #sidebar
        - if user_signed_in?
          Your next actions will go here
      %footer
        Copyright &copy; 2011
        %a{:href => "http://www.simplificator.com"} Simplificator
